* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;

	/*Czcionka 10px*/
	body {
		font-family: 'Raleway', sans-serif;
		font-size: 1.6rem;

		.hero-shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: -1;
		}

		nav {
			.nav-link {
				font-size: 2rem;
				text-transform: uppercase;
			}

			.navbar-toggler {
				font-size: 3rem;
			}

			.navbar-brand {
				font-size: 2.4rem;
				font-weight: bold;
			}
		}

		header {
			font-size: 2rem;

			.carousel-item {
				position: relative;
				height: 400px;
				background-position: center;
				background-size: cover;
				z-index: 0;
			}

			.carousel-img-one {
				background-image: url('../img/index/car-1-mobile.jpg');
			}

			.carousel-img-two {
				background-image: url('../img/index/car-2-mobile.jpg');
			}

			.carousel-img-three {
				background-image: url('../img/index/car-3-mobile.jpg');
			}

			@media (min-width: 1400px) {
				.carousel-item {
					height: 600px;
				}

				.carousel-img-one {
					background-image: url('../img/index/car-1-desktop.jpg');
				}

				.carousel-img-two {
					background-image: url('../img/index/car-2-desktop.jpg');
				}

				.carousel-img-three {
					background-image: url('../img/index/car-3-desktop.jpg');
				}
			}
		}

		main {
			.home-boxes {
				padding: 5em 0;

				.home-box {
					i {
						font-size: 4rem;
					}

					h3 {
						font-size: 2.6rem;
					}
				}
			}

			.home-passion {
				position: relative;
				height: 350px;
				background-image: url('../img/index/car-4-mobile.jpg');
				background-position: center;
				background-size: cover;
				z-index: 0;

				@media (min-width: 1400px) {
					background-image: url('../img/index/car-4-desktop.jpg');
				}
			}

			.home-brand {
				h3 {
					font-size: 3rem;
					font-weight: bold;
				}
			}

			.top-hero {
				position: relative;
				height: 20rem;
				background-size: cover;
				z-index: 0;
			}

			.top-hero-text {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				font-size: 3.6rem;
				text-transform: uppercase;
			}

			.aboutus-hero {
				background-image: url('../img/aboutus/highway-mobile.jpg');
				background-position: bottom;

				@media (min-width: 1400px) {
					background-image: url('../img/aboutus/highway-desktop.jpg');
				}
			}

			.aboutus-top {
				.display-3 {
					text-transform: uppercase;
				}
			}

			.aboutus-info {
				background-color: rgba(0, 0, 0, 0.3);

				.container {
					padding: 2em 0.5em;
				}

				.aboutus-text {
					padding: 1.8em;

					h3 {
						margin-bottom: 0.5em;
						font-size: 2.6rem;
						text-transform: uppercase;
						font-weight: bold;
						text-decoration: underline #0d6efd;
					}
				}

				.aboutus-img {
					height: 300px;
					background-image: url('../img/aboutus/ferrari-mobile.jpg');
					background-position: center;
					background-size: cover;

					@media (min-width: 1400px) {
						background-image: url('../img/aboutus/ferrari-desktop.jpg');
					}
				}

				.aboutus-text-right {
					text-align: right;
				}

				@media (min-width: 992px) {
					.container {
						padding: 0;
					}

					.aboutus-text {
						padding: 5em 0;
						transform: skew(-15deg);
					}

					.aboutus-text-left {
						padding-right: 2em;
						text-align: right;
					}

					.aboutus-text-right {
						padding-left: 2em;
						text-align: left;
					}

					.aboutus-img {
						height: auto;
						transform: skew(-15deg);
					}
				}
			}

			@media (min-width: 992px) {
				.aboutus-shadow {
					box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.7);
				}
			}

			.aboutus-bottom {
				i {
					font-size: 3rem;
				}

				h3 {
					font-weight: bold;
				}
			}

			.service-hero {
				background-image: url('../img/services/car.jpg');
				background-position: 0 75%;
			}

			.service-hero-box {
				position: relative;
				height: 300px;
				background-size: cover;
				z-index: 0;

				p {
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 3rem;
					text-transform: uppercase;
				}
			}

			.service-pricing {
				.box-one {
					background-image: url('../img/services/engine.jpg');
				}

				.box-two {
					background-image: url('../img/services/visual.jpg');
				}

				.box-three {
					background-image: url('../img/services/car-audio.jpg');
				}

				.box-four {
					background-image: url('../img/services/all-in-one.jpg');
				}

				.card-header {
					font-size: 2rem;
					cursor: pointer;
				}

				h3 {
					font-weight: bold;
				}

				.btn {
					font-size: 1.6rem;
					text-transform: uppercase;
				}
			}

			.projects-hero {
				background-image: url(../img/projects/project-hero.jpg);
				background-position: center;
			}

			.projects {
				img {
					height: 240px;
					object-fit: cover;
				}

				.btn {
					font-size: 1.4rem;
					text-transform: uppercase;
				}
			}

			.contact-hero {
				background-image: url('../img/contact/contact-hero-mobile.jpg');
				background-position: 0 40%;

				@media (min-width: 1400px) {
					background-image: url('../img/contact/contact-hero-desktop.jpg');
				}
			}

			.contact {
				h2,
				h3 {
					text-transform: uppercase;
					font-weight: bold;
				}

				h2 {
					font-size: 2.6rem;
				}

				.contact-logo {
					font-size: 3rem;
				}

				input,
				select,
				textarea {
					font-size: 1.6rem;
				}

				.btn {
					padding: 0.3em 0.8em;
					font-size: 2rem;
				}
			}
			.contact-map {
				iframe {
					width: 100%;
					height: 400px;
				}
			}
		}

		footer {
			font-size: 1.6rem;
		}

		.additional-text {
			font-size: 1.8rem;
		}
	}
}
